<h1>List of Students</h1>

<%= button_to "Create a Student",  new_student_path, method: :get%>

<ul>
  <% @students.each do |student| %>
   <hr> <li> <%= student.name %>  <%= button_to "Students Page",  student_path(student), method: :get%> </hr></li>
  <% end %>
</ul>
